<main class="flex flex-col justify-center p-2 sm:p-10">
  <header class="flex justify-between items-center py-2 px-2 lg:mx-22 xl:mx-35 border-b
  border-gray-200 shadow-sm bg-gradient-to-r from-[#F3EAFF] via-[#E1EFFF] to-white rounded-xl">

    @if (loading) {
      <ngx-skeleton-loader
        appearance="line"
        animation="progress"
        [theme]="{
          width: '350px',
          height: '40px',
          background: 'lightgray',
          'border-radius': '10px'
        }"
      />
    }
    @else {
      <h1
        class="font-bold text-2xl md:text-4xl bg-gradient-to-r from-complementary-purple to-secondary-blue bg-clip-text text-transparent tracking-tight">
        {{ project()!.name }}
      </h1>
    }

    <div class="flex items-center gap-3">
      <span class="hidden md:inline text-sm text-gray-600 font-medium">
        Mi perfil
      </span>
      <app-user-profile />
    </div>
  </header>

  @if (loading){
      <ngx-skeleton-loader  count="15" appearance="square" animation="progress"
        [theme]="{
          width: 'calc(8/10 * 100%)',
          height: 'calc(var(--spacing) * 10)',
          background: 'lightgray',
          'border-radius': '5px',
          'margin': '0 auto'
        }" />
  }@else{
    <section class="mt-2 w-full flex flex-col justify-center gap-y-2">
      <div class="flex self-center justify-end w-full md:w-8/10">
        <button class="btn-primary text-sm flex items-center py-0.5 px-5" (click)="goToPrioritization()" >
          <img class="size-6" src="grid.png" alt="">
          Matriz Priorización
        </button>
      </div>

      @for (risk of project()!.risks; track $index) {
        <app-risk-project-detail
        class="flex justify-center"
          [projectId]="project()!.id!"
          [risk]="risk"
        />
      }@empty{
      <div
        class="mx-auto mt-4 p-px rounded-2xl bg-gradient-to-r from-complementary-purple to-secondary-blue"
      >
        <div
          class="flex flex-col items-center justify-center text-center py-10 px-3 md:py-16 rounded-[15px] bg-gradient-to-l from-[#F3EAFF] to-white-letter"
        >
          <h2 class="text-2xl md:text-3xl font-medium mt-2">
            Añade los
            <span
              class="bg-gradient-to-r from-complementary-purple to-secondary-blue bg-clip-text text-transparent"
              >Riesgos </span
            >
            del <span class="text-secondary-blue">Proyecto!</span>
          </h2>
          <p class="text-slate-500 mt-2 max-w-lg max-md:text-sm">
            Identifica los riesgos y con gamificación haz que mitigar riesgos sea divertido
            y efectivo.
          </p>
          <footer class="inline-flex justify-center mt-4 items-center gap-3">
            <button (click)="goToTaxonomy()"
              type="button"
              class="btn-secondary py-1.5 px-4"
            >
              Añade los riesgos
            </button>
            <img class="size-6" src="logo.png" alt="">
          </footer>
        </div>
      </div>
      }
    </section>
  }

  @if (showAddMembersModal) {

  }
</main>
