<div
  class="fixed inset-0 bg-opacity-50 backdrop-blur-sm flex justify-center items-center z-50"
  (click)="close.emit()">

  <div
    class="bg-white rounded-lg shadow-lg p-6 max-w-lg w-full relative"
    (click)="$event.stopPropagation()">
    <button
      type="button"
      class="absolute top-4 right-4 text-gray-600 hover:text-gray-900 cursor-pointer"
      (click)="close.emit()"
      aria-label="Close modal">
      &times;
    </button>

    <form [formGroup]="projectForm" (ngSubmit)="onCreateProject()">
      <label for="name" class="block mb-1 text-xm">Nombre del proyecto</label>
      <div class="div-input">
        <input
          id="name"
          formControlName="name"
          type="text"
          class="input-style"
        />
      </div>



      <label class="block mb-1 text-xm mt-[1lh]">Añade los miembros del equipo:</label>
      <div class="div-input">
        @for (member of teamMembers ; track $index) {
          <span class="bg-blue-100 text-blue-900 px-3 py-1 rounded inline-flex items-center gap-2">
            {{ member.email }}
            <button type="button" (click)="removeMember($index)" aria-label="Eliminar email"
            class="ml-1 cursor-pointer hover:text-red-600">&times;</button>
          </span>
        }
        <input
            type="text"
            formControlName="email"
            placeholder=""
            (keydown.enter)="addMember()"
            (keydown.comma)="addMember()"
            (keydown.space)="addMember()"
            class="flex-grow input-style"
          />

      </div>

      <div class="flex mt-1.5 -space-x-4 rtl:space-x-reverse">
        @for (member of teamMembers; track $index) {
          <div class="inline-flex items-center justify-center w-10 h-10 border-2 border-complementary-purple
          bg-gray-background rounded-full overflow-hidden" title="{{ member.email }}">
            <span class="font-medium text-main-black">{{ member.email[0].toUpperCase() }}</span>
          </div>
        }
      </div>

        @if(projectForm.errors?.['invalid']) {
          <div class="error-message">
            Asegúrate que el nombre tenga al menos 3 caracteres.
          </div>
        }
        @if(projectForm.errors?.['owner']) {
          <div class="error-message">
            Eres el dueño del proyecto.
          </div>
        }
        @if(projectForm.errors?.['invalidEmail']) {
          <div class="error-message">
            El email ingresado no es válido.
          </div>
        }
        @if(projectForm.errors?.['emailExists']) {
          <div class="error-message">
            El email ya está en la lista de miembros.
          </div>
        }
        @if(projectForm.errors?.['userNotFound']) {
          <div class="error-message">
            El usuario no existe.
          </div>
        }

      <div class="flex justify-end">
        <input type="button"
          (click)="onCreateProject()"
          class="btn-primary px-3 py-1.5 mt-[1lh]"
          value="Crear proyecto"
        >
      </div>
    </form>
  </div>
</div>
