<app-header
  [title]="'Priorización'"
  [isSideBarOpen]="isSideBarOpen"
  (toggleSideBar)="isSideBarOpen = $event"
/>
<main class="flex justify-center">
  <app-side-menu
    [open]="isSideBarOpen"
  />
  <section class="flex flex-col justify-center m-[1lh] h-160 w-9/10 gap-y-2">

    <div class="block self-end flex-col w-3/10 justify-end items-end text-sm">
      <button type="button" class="peer group w-full text-left px-4 pr-2 py-2 border rounded bg-white text-main-black border-complementary-purple shadow-sm hover:bg-white-letter/40 focus:outline-none">
          <span>Sprint {{ currentSprint.sprint }}</span>
          <svg class="w-5 h-5 inline float-right transition-transform duration-300 -rotate-90 group-focus:rotate-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#6B7280">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
          </svg>
      </button>

      <ul class="absolute z-10 hidden overflow-hidden peer-focus:block w-fit bg-white border border-gray-300 rounded shadow-md mt-px py-1">
        @for (sprint of sortedSprints(); track $index) {
          <li (mousedown)="setSprintRisks(sprint)" class="px-4 py-2 hover:bg-complementary-purple/80 hover:text-white cursor-pointer">Sprint {{sprint.sprint}}</li>
        }
      </ul>
    </div>

    <span class="ml-19 md:ml-20 border-2 rounded border-secondary-blue">
      <h1 class="text-center content-center text-md font-semibold h-7">Impacto</h1>
    </span>

    <div class="flex w-full gap-x-2">
      <span class="flex justify-center items-center w-full h-7 rounded bg-green-400 ml-19 md:ml-20">
        <h1 class="text-sm">Bajo</h1>
      </span>
      <span class="flex justify-center items-center w-full h-7 rounded bg-orange-300">
        <h1 class="text-sm">Medio</h1>
      </span>
      <span class="flex justify-center items-center w-full h-7 rounded bg-red-400">
        <h1 class="text-sm">Alto</h1>
      </span>
    </div>

    <section class="flex gap-x-2 w-full h-full items-center">
      <span class="flex justify-center items-center w-7 h-full xl:h-[95%] border-2 rounded border-secondary-blue">
        <h1 class="-rotate-90 text-md font-semibold">Probabilidad</h1>
      </span>

      <div class="flex flex-col gap-y-2 justify-center items-center w-10 h-full">
        <span class="flex justify-center items-center h-full w-7 rounded  xl:mt-3 bg-green-400">
          <h1 class="-rotate-90 text-sm">Baja</h1>
        </span>
        <span class="flex justify-center items-center h-full w-7 rounded bg-orange-300">
          <h1 class="-rotate-90 text-sm">Media</h1>
        </span>
        <span class="flex justify-center items-center h-full w-7 rounded  xl:mb-3 bg-red-400">
          <h1 class="-rotate-90 text-sm">Alta</h1>
        </span>
      </div>

      <!-- Grid -->
      <div class="grid grid-cols-3 grid-rows-3 gap-2 text-center xl:h-120 w-full h-full">
        @for (i of [0,1,2]; track $index) {
          @for (j of [0,1,2]; track $index) {
            <article class="flex w-full min-w-full h-full flex-col border-2 rounded border-secondary-blue sm:p-2 gap-y-px overflow-auto">
              @for (risk of riskMatrix[i][j]; track $index) {
                <span title="{{ risk.category }}" class="text-xs m-1 lg:text-sm border rounded border-complementary-purple
                  transition-transform duration-300 hover:scale-105"> {{ risk.risk }}
                </span>
              }
            </article>
          }
        }

      </div>
    </section>

    <footer class="flex w-full justify-end">
        <button class="btn-secondary w-30 h-8 mb-4" (click)="goBackToProject()">Volver</button>
    </footer>

  </section>
</main>
