/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-main-black: #0D1B2A;
  --color-secondary-blue: #273469;
  --color-white-letter: #7d7e83;
  --color-gray-background: #dbdcdb ;
  --color-complementary-purple: #965AD3;
}

html {
  background-color: var(--color-gray-background);
  font-family: "Gill Sans", sans-serif;
  color: var(--color-main-black);
}

@layer components {
  .btn-primary {
    cursor: pointer;
    background-color: var(--color-secondary-blue);
    color: var(--color-gray-background);
    border-radius: 4px;
    font-weight: 500;
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-complementary-purple);
        transition: transform 0.5s ease;
        transform: scale(1.03);
      }
    }
  }

  .btn-secondary {
    background-color: none;
    color: var(--color-complementary-purple);
    border: 2px solid var(--color-complementary-purple);
    border-radius: 7px;
    font-weight: 500;
    box-shadow: var(--shadow-md);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        transition: transform 0.5s ease;
        transform: scale(1.05);
      }
    }
  }

  .div-input{
    @apply border rounded bg-transparent border-gray-400 p-2 flex flex-wrap gap-2 min-h-2.5;
  }

  .input-style{
    @apply bg-transparent text-gray-500 placeholder-gray-400 outline-none text-sm w-full h-full;
  }

  .error-message {
    @apply text-red-600 text-sm mt-2 text-center;
  }
  /* 🔹 Enlace activo del menú lateral */
  .active-link {
    @apply border-l-4 border-complementary-purple bg-gray-100 text-complementary-purple font-semibold;
  }

  .risk-text{
    @apply text-xs m-1 cursor-pointer lg:text-sm border rounded border-complementary-purple transition-transform duration-300 hover:scale-[101%]
  }

  .matrix-article {
    @apply flex w-full min-w-full h-full flex-col border-2 rounded border-secondary-blue sm:p-2 gap-y-px overflow-auto
  }
}
