<header class="flex justify-between items-center py-2 px-[1lh] border-b border-gray-500 w-dvw
shadow-sm bg-gradient-to-r from-[#F3EAFF] via-[#E1EFFF] to-white">
  <nav class="flex gap-x-[1lh] items-center">
    @if (showSideBar){
      <button type="button" (click)="toggle()" class="cursor-pointer w-fit h-fit p-1
        hover:rounded-full hover:bg-gray-background">
        @if(isSideBarOpen){
          <svg class="w-6 h-6 text-secondary-blue hover:text-complementary-purple" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="28" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M7.99994 10 6 11.9999l1.99994 2M11 5v14m-7 0h16c.5523 0 1-.4477 1-1V6c0-.55228-.4477-1-1-1H4c-.55228 0-1 .44772-1 1v12c0 .5523.44772 1 1 1Z" />
          </svg>
        }@else{
          <svg class="w-6 h-6 text-secondary-blue hover:text-complementary-purple" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m7 10 1.99994 1.9999-1.99994 2M12 5v14M5 4h14c.5523 0 1 .44772 1 1v14c0 .5523-.4477 1-1 1H5c-.55228 0-1-.4477-1-1V5c0-.55228.44772-1 1-1Z" />
          </svg>
        }
      </button>
    }
    <h1
      class="font-bold text-2xl md:text-4xl bg-gradient-to-r from-complementary-purple to-secondary-blue bg-clip-text text-transparent tracking-tight">
      {{ title }}
    </h1>
  </nav>
  <div class="flex items-center gap-3">
    <span class="hidden md:inline text-sm text-gray-600 font-medium">
      Mi perfil
    </span>
    <app-user-profile />
  </div>
</header>
